@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');*/

*:not(i) {
/*    font-family: 'Tajawal', sans-serif ;*/
    font-family: 'Almarai', sans-serif;
}
html, body {
	direction: rtl;
	text-align: right;
}
.section-title span,
.hero-section .hs-content .title,
.about-section .agency-block .title {
    font-family: 'Tajawal', sans-serif
}

header nav .links-list {
    margin-right: auto;
	margin-left: 0;
}
header nav .links-list > ul .list-item.dropdown .link i {
	margin-right: 3px;
	margin-left: 0;
}
header.sticky {
	right: 0;
	left: auto;
}
.dropdown .droplist {
	left: 0;
	right: auto;
}
header nav .links-list > ul .list-item {
	margin-left: 30px;
	margin-right: 0;
}
header nav .links-list > ul .list-item:last-child {
    margin-left: 0;
}
header nav .links-list > ul .list-item.dropdown:hover i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.about-section .about-media {
	padding-right: 50px;
	padding-left: 20px;
}
.about-section .about-media img.ov-img {
	right: 0;
	left: auto;
}
.about-section .list-check li:after {
	right: 0;
	left: auto;
}
.about-icons-section .about-icon h5 i {
	margin-left: 10px;
	margin-right: 0;
}

footer .follow p {
    margin-right: 10px;
	margin-left: 0;
}
footer .footer-bottom .footer-social .social-list li {
    margin-right: 20px;
	margin-left: 0;
}

.glass-effect {
    right: calc(50% - 350px);
    left: auto;
}
.glass-effect:before {
    right: 320px;
    left: auto;
}
.glass-effect:after {
    right: 0;
    left: auto;
}
.breadcrumb-wrapper:before {
    right: 0;
    left: auto;
}

/*
.hero-section .video-container video {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.hero-section .hs-overlay {
    left: 0px;
}
.hero-section .hs-content {
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
*/


.fa-arrow-left:before {
    content: "\f061";
}
.fa-arrow-right:before {
    content: "\f060";
}
.fa-chevron-right:before {
    content: "\f053";
}
.fa-chevron-left:before {
    content: "\f054";
}
.fa-chevron-circle-right:before {
    content: "\f137";
}
.fa-chevron-circle-left:before {
    content: "\f138";
}
.text-left {
    text-align: right!important;
}
.text-right {
    text-align: left!important;
}

.owl-carousel .owl-stage-outer {
	direction: ltr;
}


@media (min-width: 1200px) {
	
}

@media(max-width: 1199px) {
	
}

@media(max-width: 991px) {
	header nav .links-list {
		right: 0;
		left: auto;
	}
	
}